# Dataquest Guided Project
## Winning Jeopardy
### Introduction and Goals

Jeopardy is a popular TV show in the US where participants answer questions to win money. It's been running for many years, and is a major force in popular culture.

Imagine that you want to compete on Jeopardy, and you're looking for any way to win. In this project, you'll work with a dataset of Jeopardy questions to figure out some patterns in the questions that could help you win.

The dataset is named jeopardy.csv, and contains 20000 rows from the beginning of a full dataset of Jeopardy questions, which you can download.

As you can see, each row in the dataset represents a single question on a single episode of Jeopardy. Here are explanations of each column:

 - Show Number - the Jeopardy episode number
 - Air Date - the date the episode aired
 - Round - the round of Jeopardy
 - Category - the category of the question
 - Value - the number of dollars the correct answer is worth
 - Question - the text of the question
 - Answer - the text of the answer

In [62]:
import pandas as pd

In [63]:
jeopardy = pd.read_csv('jeopardy.csv')

In [64]:
jeopardy.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [65]:
jeopardy.columns = ['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question', 'Answer']

In [66]:
jeopardy.columns

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [67]:
import re

def normalize_text(text):
    text = text.lower()
    text = re.sub("[^A-Za-z0-9\s]", "", text)
    text = re.sub("\s+", " ", text)
    return text

def normalize_values(text):
    text = re.sub("[^A-Za-z0-9\s]", "", text)
    try:
        text = int(text)
    except Exception:
        text = 0
    return text

In [68]:
jeopardy["clean_question"] = jeopardy["Question"].apply(normalize_text)
jeopardy["clean_answer"] = jeopardy["Answer"].apply(normalize_text)
jeopardy["clean_value"] = jeopardy["Value"].apply(normalize_values)

In [69]:
def count_matches(row):
    split_answer = row["clean_answer"].split()
    split_question = row["clean_question"].split()
    if "the" in split_answer:
        split_answer.remove("the")
    if len(split_answer) == 0:
        return 0
    match_count = 0
    for item in split_answer:
        if item in split_question:
            match_count += 1
    return match_count / len(split_answer)

jeopardy["answer_in_question"] = jeopardy.apply(count_matches, axis=1)

In [70]:
jeopardy["answer_in_question"].mean()

0.05900196524977763

### Recycled Questions

Let's say you want to investigate how often new questions are repeats of older ones. You can't completely answer this, because you only have about 10% of the full Jeopardy question dataset, but you can investigate it at least.

To do this, you can:

 - Sort jeopardy in order of ascending air date.
 - Maintain a set called terms_used that will be empty initially.
 - Iterate through each row of jeopardy.
 - Split clean_question into words, remove any word shorter than 6 characters, and check if each word occurs in terms_used.
    - If it does, increment a counter.
    - Add each word to terms_used.

This allows you to check if the terms in questions have been used previously or not. Only looking at words with six or more characters enables you to filter out words like the and than, which are commonly used, but don't tell you a lot about a question.

In [71]:
question_overlap = []
terms_used = set()
jeopardy = jeopardy.sort_values("Air Date")

In [72]:
for i, row in jeopardy.iterrows():
        split_question = row["clean_question"].split(" ")
        split_question = [q for q in split_question if len(q) > 5]
        match_count = 0
        for word in split_question:
            if word in terms_used:
                match_count += 1
        for word in split_question:
            terms_used.add(word)
        if len(split_question) > 0:
            match_count /= len(split_question)
        question_overlap.append(match_count)
jeopardy["question_overlap"] = question_overlap

jeopardy["question_overlap"].mean()

0.6876260592169802

In [73]:
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value,answer_in_question,question_overlap
19325,10,1984-09-21,Final Jeopardy!,U.S. PRESIDENTS,None,"Adventurous 26th president, he was 1st to ride...",Theodore Roosevelt,adventurous 26th president he was 1st to ride ...,theodore roosevelt,0,0.0,0.0
19301,10,1984-09-21,Double Jeopardy!,LABOR UNIONS,$200,Notorious labor leader missing since '75,Jimmy Hoffa,notorious labor leader missing since 75,jimmy hoffa,200,0.0,0.0
19302,10,1984-09-21,Double Jeopardy!,1789,$200,"Washington proclaimed Nov. 26, 1789 this first...",Thanksgiving,washington proclaimed nov 26 1789 this first n...,thanksgiving,200,0.0,0.0
19303,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$200,Both Ferde Grofe' & the Colorado River dug thi...,the Grand Canyon,both ferde grofe the colorado river dug this n...,the grand canyon,200,0.0,0.5
19304,10,1984-09-21,Double Jeopardy!,LITERATURE,$200,"Depending on the book, he could be a ""Jones"", ...",Tom,depending on the book he could be a jones a sa...,tom,200,0.0,0.0

### Low Value vs High Value Questions

Let's say you only want to study questions that pertain to high value questions instead of low value questions. This will help you earn more money when you're on Jeopardy.

You can actually figure out which terms correspond to high-value questions using a chi-squared test. You'll first need to narrow down the questions into two categories:

 - Low value -- Any row where Value is less than 800.
 - High value -- Any row where Value is greater than 800.

You'll then be able to loop through each of the terms from the last screen, terms_used, and:

 - Find the number of low value questions the word occurs in.
 - Find the number of high value questions the word occurs in.
 - Find the percentage of questions the word occurs in.
 - Based on the percentage of questions the word occurs in, find expected counts.
 - Compute the chi squared value based on the expected counts and the observed counts for high and low value questions.

You can then find the words with the biggest differences in usage between high and low value questions, by selecting the words with the highest associated chi-squared values. Doing this for all of the words would take a very long time, so we'll just do it for a small sample now.

In [74]:
def determine_value(row):
    value = 0
    if row['clean_value'] > 800:
        value = 1
    return value

In [75]:
jeopardy["high_value"] = jeopardy.apply(determine_value, axis=1)

In [76]:
jeopardy.head(30)

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value,answer_in_question,question_overlap,high_value
19325,10,1984-09-21,Final Jeopardy!,U.S. PRESIDENTS,None,"Adventurous 26th president, he was 1st to ride...",Theodore Roosevelt,adventurous 26th president he was 1st to ride ...,theodore roosevelt,0,0.000000,0.0,0
19301,10,1984-09-21,Double Jeopardy!,LABOR UNIONS,$200,Notorious labor leader missing since '75,Jimmy Hoffa,notorious labor leader missing since 75,jimmy hoffa,200,0.000000,0.0,0
19302,10,1984-09-21,Double Jeopardy!,1789,$200,"Washington proclaimed Nov. 26, 1789 this first...",Thanksgiving,washington proclaimed nov 26 1789 this first n...,thanksgiving,200,0.000000,0.0,0
19303,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$200,Both Ferde Grofe' & the Colorado River dug thi...,the Grand Canyon,both ferde grofe the colorado river dug this n...,the grand canyon,200,0.000000,0.5,0
19304,10,1984-09-21,Double Jeopardy!,LITERATURE,$200,"Depending on the book, he could be a ""Jones"", ...",Tom,depending on the book he could be a jones a sa...,tom,200,0.000000,0.0,0
19305,10,1984-09-21,Double Jeopardy!,HOMONYMS,$200,Hindu hierarchy or a play's actors,a caste (cast),hindu hierarchy or a plays actors,a caste cast,200,0.333333,0.0,0
19306,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$200,"Last season, this series mourned the loss of S...",Hill Street Blues,last season this series mourned the loss of sg...,hill street blues,200,0.000000,0.0,0
19307,10,1984-09-21,Double Jeopardy!,1789,$400,Why April 28th was a bad day for Capt. Bligh,the day of the mutiny on the Bounty,why april 28th was a bad day for capt bligh,the day of the mutiny on the bounty,400,0.142857,0.0,0
19308,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$400,Seaside resort that has a monopoly on East Coa...,"Atlantic City, New Jersey",seaside resort that has a monopoly on east coa...,atlantic city new jersey,400,0.000000,0.0,0
19309,10,1984-09-21,Double Jeopardy!,LITERATURE,$400,"He wrote ""The 3 Musketeers""; his son wrote ""Ca...",(Alexandre) Dumas,he wrote the 3 musketeers his son wrote camille,alexandre dumas,400,0.000000,0.0,0
19310,10,1984-09-21,Double Jeopardy!,HOMONYMS,$400,Near or a purchase,by (buy),near or a purchase,by buy,400,0.000000,0.0,0
19311,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$400,He went from the Ponderosa to the prairie,Michael Landon,he went from the ponderosa to the prairie,michael landon,400,0.000000,0.0,0
19312,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$600,"Since '27, stars have made good impressions at...",Mann's Chinese Theatre,since 27 stars have made good impressions at t...,manns chinese theatre,600,0.000000,0.0,0
19313,10,1984-09-21,Double Jeopardy!,LITERATURE,$600,Where you can't go again in Thomas Wolfe title,home,where you cant go again in thomas wolfe title,home,600,0.000000,0.0,0
19314,10,1984-09-21,Double Jeopardy!,HOMONYMS,$600,"A fixed look, or Ginger Rogers' partner",a stare (Astaire),a fixed look or ginger rogers partner,a stare astaire,600,0.333333,0.0,0
19315,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$600,"In 1970 he had a ""Goodtime Hour""",Glen Campbell,in 1970 he had a goodtime hour,glen campbell,600,0.000000,0.0,0
19316,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$800,A thrilling destination for tight-rope walkers...,Niagara Falls,a thrilling destination for tightrope walkers ...,niagara falls,800,0.000000,0.0,0
19317,10,1984-09-21,Double Jeopardy!,LITERATURE,$800,Irving's bird-like hero chased by the Headless...,Ichabod Crane,irvings birdlike hero chased by the headless h...,ichabod crane,800,0.000000,0.0,0
19318,10,1984-09-21,Double Jeopardy!,HOMONYMS,"$1,000",Didn't see the fog,missed (mist),didnt see the fog,missed mist,1000,0.000000,0.0,1
19319,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$800,"Jackie Gleason show that rejected titles ""The ...",The Honeymooners,jackie gleason show that rejected titles the l...,the honeymooners,800,0.000000,0.0,0
19320,10,1984-09-21,Double Jeopardy!,1789,$1000,"Now totaling over $1 trillion, it began 11 day...",the national debt,now totaling over 1 trillion it began 11 days ...,the national debt,1000,0.000000,0.0,1
19321,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$1000,Tourists know this Catholic mission as Davy Cr...,the Alamo,tourists know this catholic mission as davy cr...,the alamo,1000,0.000000,0.0,1
19322,10,1984-09-21,Double Jeopardy!,LITERATURE,$1000,Shaw's scorched saint,St. Joan of Arc,shaws scorched saint,st joan of arc,1000,0.000000,0.0,1
19323,10,1984-09-21,Double Jeopardy!,HOMONYMS,$1000,Where ships dock or what a jury consists of,piers (peers),where ships dock or what a jury consists of,piers peers,1000,0.000000,0.0,1
19300,10,1984-09-21,Jeopardy!,SPORTS,$500,"Boxer whose life was portrayed in ""Somebody Up...",Rocky Graziano,boxer whose life was portrayed in somebody up ...,rocky graziano,500,0.000000,0.0,0
19324,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$1000,"In court, he'd always make mincemeat of Hamilt...",Perry Mason,in court hed always make mincemeat of hamilton...,perry mason,1000,0.000000,0.0,1
19299,10,1984-09-21,Jeopardy!,"""B"" MOVIES",$500,Sensitive Mart Crowley treatment of gays march...,The Boys in the Band,sensitive mart crowley treatment of gays march...,the boys in the band,500,0.000000,0.0,0
19297,10,1984-09-21,Jeopardy!,"""JACKS"" OF ALL TRADES",$500,"2nd generation pop singer, he's sung on every ...",Jack Jones,2nd generation pop singer hes sung on every lo...,jack jones,500,0.000000,0.0,0
19274,10,1984-09-21,Jeopardy!,GEOGRAPHY,$100,Formerly Formosa,Taiwan,formerly formosa,taiwan,100,0.000000,0.0,0
19275,10,1984-09-21,Jeopardy!,DOUBLE TALK,$100,"Not a Hawaiian cow, but a dress worn by Hawaii...",a muumuu,not a hawaiian cow but a dress worn by hawaiia...,a muumuu,100,0.500000,0.0,0

In [77]:
def count_usage(term):
    low_count = 0
    high_count = 0
    for i, row in jeopardy.iterrows():
        if term in row["clean_question"].split(" "):
            if row["high_value"] == 1:
                high_count += 1
            else:
                low_count += 1
    return high_count, low_count

In [78]:
from random import choice

terms_used_list = list(terms_used)
comparison_terms = [choice(terms_used_list) for _ in range(10)]

observed_expected = []

for term in comparison_terms:
    observed_expected.append(count_usage(term))

observed_expected

[(0, 1),
 (0, 1),
 (1, 1),
 (1, 0),
 (3, 4),
 (1, 0),
 (1, 1),
 (0, 2),
 (1, 1),
 (2, 2)]

In [79]:
from scipy.stats import chisquare
import numpy as np

high_value_count = jeopardy[jeopardy["high_value"] == 1].shape[0]
low_value_count = jeopardy[jeopardy["high_value"] == 0].shape[0]

chi_squared = []
for obs in observed_expected:
    total = sum(obs)
    total_prop = total / jeopardy.shape[0]
    high_value_exp = total_prop * high_value_count
    low_value_exp = total_prop * low_value_count
    
    observed = np.array([obs[0], obs[1]])
    expected = np.array([high_value_exp, low_value_exp])
    chi_squared.append(chisquare(observed, expected))

chi_squared

[Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=0.4448774816612795, pvalue=0.5047776487545996),
 Power_divergenceResult(statistic=2.487792117195675, pvalue=0.11473257634454047),
 Power_divergenceResult(statistic=0.6887906561130311, pvalue=0.4065760282166111),
 Power_divergenceResult(statistic=2.487792117195675, pvalue=0.11473257634454047),
 Power_divergenceResult(statistic=0.4448774816612795, pvalue=0.5047776487545996),
 Power_divergenceResult(statistic=0.803925692253768, pvalue=0.3699222378079571),
 Power_divergenceResult(statistic=0.4448774816612795, pvalue=0.5047776487545996),
 Power_divergenceResult(statistic=0.889754963322559, pvalue=0.3455437191483468)]